<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgwy.dao.UpLoadDao">
	<resultMap type="UpLoadEntity" id="UpLoadResult">
		<result property="id" column="id" />
		<result property="upLoadName" column="uploadname" />
		<result property="upLoadDate" column="uploaddate" />
		<result property="upLoadUser" column="uploaduser" />
		<result property="upLoadPath" column="uploadpath" />
		<result property="deleteFlag" column="deleteflag" />
		<result property="upLoadClassify" column="uploadclassify" />
		<result property="deleteDate" column="deletedate" />
	</resultMap>
	
	
	<select id="getByClassify" resultMap="UpLoadResult">
	    select * from
		internal_upload t where t.uploadclassify=#{upLoadClassify,jdbcType=VARCHAR} and
		t.deleteflag=#{deleteFlag,jdbcType=INTEGER}
	</select>
	
	
	<select id="getAllUpLoadInfo" resultMap="UpLoadResult">
	    select * from internal_upload t where t.deleteflag=#{deleteFlag,jdbcType=INTEGER}
	</select>
	
	<select id="getByUpLoadUserName" resultMap="UpLoadResult">
		select * from
		internal_upload t where t.uploaduser=#{upLoadUser,jdbcType=VARCHAR} and
		t.uploadclassify=#{upLoadClassify,jdbcType=VARCHAR} and
		t.deleteflag=#{deleteFlag,jdbcType=INTEGER}
	</select>

	<select id="insertUpLoad">
		insert into
		internal_upload(uploadname,uploaddate,uploaduser,uploadpath,uploadclassify)
		values(#{upLoadName,jdbcType=VARCHAR},#{upLoadDate,jdbcType=DATE},#{upLoadUser,jdbcType=VARCHAR},#{upLoadPath,jdbcType=VARCHAR},#{upLoadClassify,jdbcType=VARCHAR})
	</select>
	
	<select id="deleteUpload">
	    update internal_upload t set t.deleteflag=1 where t.id=#{id,jdbcType=INTEGER} and t.upLoadName=#{upLoadName,jdbcType=VARCHAR}
	</select>
	
	
	<select id="deleteDate">
	    update internal_upload t set t.deletedate=#{deleteDate,jdbcType=VARCHAR} where t.id=#{id,jdbcType=VARCHAR} and t.upLoadName=#{upLoadName,jdbcType=VARCHAR}
	</select>
	
	<select id="resEraser">
	    update internal_upload t set t.deleteflag=0 where t.id=#{id,jdbcType=INTEGER} and t.upLoadName=#{upLoadName,jdbcType=VARCHAR}
	</select>
</mapper> 